.searchBar {
    background-color: rgba(255,255,255,0.2);
}
.autoHeight {
    height: auto;
}

#headerIndex {
    color:floralwhite;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

#mainCustomers {
    background-image: url("#{resource['images/airbus_320_214_516423.jpg']}");
    background-size: cover;
    height: 400px;
}

#mainEmployeesAirlines {
    background-image: url("#{resource['images/stockvault-sky-and-clouds-from-airplane131129.jpg']}");
    background-size: cover;
    height: 400px;
}

.mdl-textfield__error {
        background-color: rgba(255,255,255,0.2);
}

.page-content {
    width:100%;
    height:100%;
}

.demo-card-wide{
    height: 500px;
    background-color: floralwhite;
    overflow: hidden;
}

.demo-card-wide.mdl-card {
    width: 80%;
    margin:auto;
}

.mdl-card__title {
    color: #FFF;
    background-color: rgb(83, 109, 254);
}


.mdl-card__supporting-text.planeImage {
    background-image: url(#{resource['images/Transport-Airplane-Takeoff-icon1.png']});
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

/*.promoCard.mdl-card__supporting-text {
    background-image: url(#{resource['.png']});
    background-repeat: no-repeat;
    background-position: center;
}*/

#loginCardTitle {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#loginBackground {
    background-color:floralwhite;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#loginCardEndButton {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#registerCardTitle {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#registerBackground {
    background-color:floralwhite;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.mdl-mega-footer {
    height: 300px;
    background-color: #222;
}

#leftPlaced {
    float: left;
    padding-left: 10%;
}

#rightPlaced {
    float: right;
    padding-right: 10%;
}

#middlePlaced {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#promotionImage {
    background-image: url(#{resource['images/Inle-Lake-best-places-to-visit-in-southeast-asia.jpg']});
    background-repeat: no-repeat;
    background-size:cover;
    height: 300px;
}

.mdl--social-buttons {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.mdl-button.mdl-button--twitter {
    color: #3f51b5;
}

.mdl-button.mdl-button--twitter:focus:not(:active) {
    background-color: #00acee;
}

.mdl-button--raised.mdl-button--twitter {
    background: #00acee;
    color: white;
}

.mdl-button--raised.mdl-button--twitter:hover {
    background-color: #00acee;
}

.mdl-button--raised.mdl-button--twitter:active {
    background-color: #00acee;
}

.mdl-button--raised.mdl-button--twitter:focus:not(:active) {
    background-color: #00acee;
}

.mdl-button--raised.mdl-button--twitter .mdl-ripple {
    background: white;
}

.mdl-button--fab.mdl-button--twitter {
    background: #00acee;
    color: white;
}

.mdl-button--fab.mdl-button--twitter:hover {
    background-color: #00acee;
}

.mdl-button--fab.mdl-button--twitter:focus:not(:active) {
    background-color: #00acee;
}

.mdl-button--fab.mdl-button--twitter:active {
    background-color: #00acee;
}

.mdl-button--fab.mdl-button--twitter .mdl-ripple {
    background: white;
}

.mdl-button.mdl-button--facebook {
    color: #3f51b5;
}

.mdl-button.mdl-button--facebook:focus:not(:active) {
    background-color: #3b5998;
}

.mdl-button--raised.mdl-button--facebook {
    background: #3b5998;
    color: white;
}

.mdl-button--raised.mdl-button--facebook:hover {
    background-color: #3b5998;
}

.mdl-button--raised.mdl-button--facebook:active {
    background-color: #3b5998;
}

.mdl-button--raised.mdl-button--facebook:focus:not(:active) {
    background-color: #3b5998;
}

.mdl-button--raised.mdl-button--facebook .mdl-ripple {
    background: white;
}

.mdl-button--fab.mdl-button--facebook {
    background: #3b5998;
    color: white;
}

.mdl-button--fab.mdl-button--facebook:hover {
    background-color: #3b5998;
}

.mdl-button--fab.mdl-button--facebook:focus:not(:active) {
    background-color: #3b5998;
}

.mdl-button--fab.mdl-button--facebook:active {
    background-color: #3b5998;
}

.mdl-button--fab.mdl-button--facebook .mdl-ripple {
    background: white;
}

.mdl-button.mdl-button--stumbleupon {
    color: #3f51b5;
}

.mdl-button.mdl-button--stumbleupon:focus:not(:active) {
    background-color: #f74425;
}

.mdl-button--raised.mdl-button--stumbleupon {
    background: #f74425;
    color: white;
}

.mdl-button--raised.mdl-button--stumbleupon:hover {
    background-color: #f74425;
}

.mdl-button--raised.mdl-button--stumbleupon:active {
    background-color: #f74425;
}

.mdl-button--raised.mdl-button--stumbleupon:focus:not(:active) {
    background-color: #f74425;
}

.mdl-button--raised.mdl-button--stumbleupon .mdl-ripple {
    background: white;
}

.mdl-button--fab.mdl-button--stumbleupon {
    background: #f74425;
    color: white;
}

.mdl-button--fab.mdl-button--stumbleupon:hover {
    background-color: #f74425;
}

.mdl-button--fab.mdl-button--stumbleupon:focus:not(:active) {
    background-color: #f74425;
}

.mdl-button--fab.mdl-button--stumbleupon:active {
    background-color: #f74425;
}

.mdl-button--fab.mdl-button--stumbleupon .mdl-ripple {
    background: white;
}











